*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.dis{
    display: none !important;
}
/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container styles */
.bor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Input and button styles */
input[type="text"], input[type="date"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 200px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Header styles */
.header {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.header-p {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Form styles */
.form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-header {
    font-size: 24px;
    margin-bottom: 10px;
}

.form-text {
    margin-bottom: 20px;
}

/* Paragraph styles */
.da {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: #555;
}

