.main-box{
    width: 100%;
    background-color: rgb(61, 100, 133);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 30px 60px;
    background-color: azure;
    max-height: 30px;
    border: 3px solid black;
    border-radius: 10px;
}